body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.login-container,
.register-container,
.verify-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 18px;
    border-radius: 5px;
}

.btn-group {
    margin: 20px 0;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    margin-top: 20px;
}
.hour-slot {
    border-bottom: 1px solid #ddd;
}

.event {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}