body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.login-container,
.register-container,
.verify-container {
    max-width: 90%;
    margin: 5% auto;
    padding: 2em;
    background: white;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

button {
    font-size: 1.125em;
    border-radius: 0.3125em;
}

.btn-group {
    margin: 2em 0;
}

.navbar {
    margin-bottom: 2em;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    margin-top: 2em;
}

.hour-slot {
    border-bottom: 0.0625em solid #ddd;
}

.event {
    background-color: #f1f1f1;
    padding: 0.5em;
    border-radius: 0.3125em;
    font-size: 0.75em;
}
.btn-facebook {
    background-color: #3b5998;
    color: white;
}
.btn-facebook:hover {
    background-color: #2d4373;
    color: white;
}

.btn-twitter {
    background-color: #1da1f2;
    color: white;
}
.btn-twitter:hover {
    background-color: #0d8ddb;
    color: white;
}

.btn-instagram {
    background-color: #e1306c;
    color: white;
}
.btn-instagram:hover {
    background-color: #c72e65;
    color: white;
}

.btn-youtube {
    background-color: #ff0000;
    color: white;
}
.btn-youtube:hover {
    background-color: #cc0000;
    color: white;
}
.tos_pp{
    color: blue;
}