{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="text-center">
    <h2 class="fw-bold">Welcome to EventManager, {{ session['username'] }}!</h2>
    <p class="lead">Manage your events and settings.</p>

    <div class="btn-group mb-4" role="group" aria-label="Event Management Buttons">
        <a href="{{ url_for('home') }}" class="btn btn-primary">Home</a>
        <a href="{{ url_for('events') }}" class="btn btn-primary">Events</a>
        <a href="{{ url_for('Create_Event') }}" class="btn btn-primary">Create Event</a>
        <a href="{{ url_for('Esports') }}" class="btn btn-primary">E-sports</a>
        <a href="{{ url_for('settings') }}" class="btn btn-primary">Settings</a>
    </div>

    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
